<%- include('header') %>
<h1>Profile</h1>
<div>
    <p> { user.name } </p>
    <p> { user.username } </p>
    <p> { user.phone } </p>
</div>
<br />
<a href="/">Back to Account Summary</a>
<%- include('footer') %>